body {
    background-image: url("../images/football-no-lines.png");
    background-size: cover;
    background-color: #009400;

}

#triviaCenter {
background-color: #013369;
margin-top: 50px;
height: 450px;
}

h1 {
    color: white;
    font-size: 75px;
    margin-top: 25px;
}

#timer {
    color: #D50A0A;
    font-weight: bold;
    font-size: 35px;
}

#startbtn {
    margin-top: 125px;
    height: 75px;
    width: 150px;
    font-size: 25px;
}

#question {
    color: white;
    margin-top: 50px;
}

#results {
    margin-top: 75px;
    color: white;
}

#results h2 {
    font-size: 45px;
}

#unansweredquestions {
    margin-bottom: 25px;
}